.moviee {
  background-color: #000000;
  margin: 20px;
}

.movie__backdrop {
  position: absolute;
  width: 95%;
  height: auto;
  border-radius: 20px;

}

.movie__poster {
  position: relative;

margin-top: 40%;
margin-left: 10%;
 max-width: 25%;
  height: auto;
  border-radius: 20px;

}




.overview__highlight {
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
}

.overview {
  font-size: 16px;
  color: yellow;
  /* Text color */
  line-height: 1.6;
  /* Adjust line height for readability */
  margin-bottom: 10px;
  /* Add some space below the overview text */
}





.movie__detailRightTop{  background-color: #000000;
  padding: 20px;
}

.movie__detailRightTop>div {
  margin-bottom: 10px;
}

.original_title {
  font-size: 30px;
  font-weight: bold;
  color: #12e93d;
  text-align: center;
}



.vote_average>i {
  color: #f1c40f;
}



.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #3c9dca;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.tagline {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #3c9dca;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.status {
  text-transform: uppercase;
  color: #6c757d;
}

.vote_average {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  /* Adjust size as needed */
  height: 50px;
  /* Adjust size as needed */
  border-radius: 50%;
  /* Make it a circle */
  background-color: #083137;
  /* Orange color */
  color: #fff;
  /* Text color */
  font-weight: bold;
}

.vote_average i {
  font-size: 14px;
  /* Adjust size as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.vote_count,
.runtime,
.release_date,
.revenue,
.popularity,
.original_language,
.Production_companies,
.budget ,
.language,
.production_countries{
  background-color: rgb(209, 250, 73);
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
}


.movie__genre {
  margin-bottom: 10px;
  text-align: center;
}

.movie__genre {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 20px;
  font-weight: bold;

  background-color: #50bbf9;
  color: #000000;
  border-radius: 5px;
  font-size: 20px;
}


.newTab {
  margin-left: 1.4rem;
}

.movie__link {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.movie__homeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.movie__homeButton:hover {
  background-color: #0056b3;
}

.newTab {
  margin-left: 5px;
}

.productionCompanyImage {

  width: 200px;
  height: auto;
  padding-top: 20px;
}

.Production_companies {
  color: rgb(0, 0, 0);
  background-color: rgb(59, 240, 234);
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productionCompany {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;

}
.Production{
  background-color: rgb(192, 187, 187);
  border-radius: 20px;
  text-align: center;

}

.movie__lin {
  margin-top: 20px;
  text-align: center;
}

.movie__imdbButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5c518;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.movie__imdbButton:hover {
  background-color: #d6ab10;
}

.newTab {
  margin-left: 5px;
}
